[submodule "Digital-Systems"]
	path = Digital-Systems
	url = https://github.com/40021441054102/Digital-Systems.git
[submodule "Fundamental-Animations"]
	path = Fundamental-Animations
	url = https://github.com/40021441054102/Fundamental-Animations.git
[submodule "Multimedia-Systems"]
	path = Multimedia-Systems
	url = https://github.com/40021441054102/Multimedia-Systems.git
[submodule "Game-Designing"]
	path = Game-Designing
	url = https://github.com/40021441054102/Game-Designing.git
[submodule "Electric-Circuits-Lab"]
	path = Electric-Circuits-Lab
	url = https://github.com/40021441054102/Electric-Circuits-Lab.git
